/* =====================
	固定用css
===================== */

/*	幅
------------------------*/
.w30per {
   width: 30% !important;
}
.w40per {
   width: 40% !important;
}
.w50per {
   width: 50% !important;
}
.w10 {
   width: 10px !important;
}
.w15 {
   width: 15px !important;
}
.w20 {
   width: 20px !important;
}
.w25 {
   width: 25px !important;
}
.w30 {
   width: 30px !important;
}
.w35 {
   width: 35px !important;
}
.w40 {
   width: 40px !important;
}
.w45 {
   width: 45px !important;
}
.w50 {
   width: 50px !important;
}
.w55 {
   width: 55px !important;
}
.w60 {
   width: 60px !important;
}
.w65 {
   width: 65px !important;
}
.w70 {
   width: 70px !important;
}
.w75 {
   width: 75px !important;
}
.w80 {
   width: 80px !important;
}
.w85 {
   width: 85px !important;
}
.w90 {
   width: 90px !important;
}
.w95 {
   width: 95px !important;
}
.w100 {
   width: 100px !important;
}
.w105 {
   width: 105px !important;
}
.w110 {
   width: 110px !important;
}
.w115 {
   width: 115px !important;
}
.w120 {
   width: 120px !important;
}
.w125 {
   width: 125px !important;
}
.w130 {
   width: 130px !important;
}
.w135 {
   width: 135px !important;
}
.w140 {
   width: 140px !important;
}
.w145 {
   width: 145px !important;
}
.w150 {
   width: 150px !important;
}
.w155 {
   width: 155px !important;
}
.w160 {
   width: 160px !important;
}
.w165 {
   width: 165px !important;
}
.w170 {
   width: 170px !important;
}
.w175 {
   width: 175px !important;
}
.w180 {
   width: 180px !important;
}
.w185 {
   width: 185px !important;
}
.w190 {
   width: 190px !important;
}
.w195 {
   width: 195px !important;
}
.w200 {
   width: 200px !important;
}
.w205 {
   width: 205px !important;
}
.w210 {
   width: 210px !important;
}
.w215 {
   width: 215px !important;
}
.w220 {
   width: 220px !important;
}
.w225 {
   width: 225px !important;
}
.w230 {
   width: 230px !important;
}
.w235 {
   width: 235px !important;
}
.w240 {
   width: 240px !important;
}
.w245 {
   width: 245px !important;
}
.w250 {
   width: 250px !important;
}
.w255 {
   width: 255px !important;
}
.w260 {
   width: 260px !important;
}
.w265 {
   width: 265px !important;
}
.w270 {
   width: 270px !important;
}
.w275 {
   width: 275px !important;
}
.w280 {
   width: 280px !important;
}
.w285 {
   width: 285px !important;
}
.w290 {
   width: 290px !important;
}
.w295 {
   width: 295px !important;
}
.w300 {
   width: 300px !important;
}
.w305 {
   width: 305px !important;
}
.w310 {
   width: 310px !important;
}
.w315 {
   width: 315px !important;
}
.w320 {
   width: 320px !important;
}
.w325 {
   width: 325px !important;
}
.w330 {
   width: 330px !important;
}
.w335 {
   width: 335px !important;
}
.w340 {
   width: 340px !important;
}
.w345 {
   width: 345px !important;
}
.w350 {
   width: 350px !important;
}
.w355 {
   width: 355px !important;
}
.w360 {
   width: 360px !important;
}
.w365 {
   width: 365px !important;
}
.w370 {
   width: 370px !important;
}
.w375 {
   width: 375px !important;
}
.w380 {
   width: 380px !important;
}
.w385 {
   width: 385px !important;
}
.w390 {
   width: 390px !important;
}
.w395 {
   width: 395px !important;
}
.w400 {
   width: 400px !important;
}
.w405 {
   width: 405px !important;
}
.w410 {
   width: 410px !important;
}
.w415 {
   width: 415px !important;
}
.w420 {
   width: 420px !important;
}
.w425 {
   width: 425px !important;
}
.w430 {
   width: 430px !important;
}
.w435 {
   width: 435px !important;
}
.w440 {
   width: 440px !important;
}
.w445 {
   width: 445px !important;
}
.w450 {
   width: 450px !important;
}
.w455 {
   width: 455px !important;
}
.w460 {
   width: 460px !important;
}
.w465 {
   width: 465px !important;
}
.w470 {
   width: 470px !important;
}
.w475 {
   width: 475px !important;
}
.w480 {
   width: 480px !important;
}
.w485 {
   width: 485px !important;
}
.w490 {
   width: 490px !important;
}
.w495 {
   width: 495px !important;
}
.w500 {
   width: 500px !important;
}
.w505 {
   width: 505px !important;
}
.w510 {
   width: 510px !important;
}
.w515 {
   width: 515px !important;
}
.w520 {
   width: 520px !important;
}
.w525 {
   width: 525px !important;
}
.w530 {
   width: 530px !important;
}
.w535 {
   width: 535px !important;
}
.w540 {
   width: 540px !important;
}
.w545 {
   width: 545px !important;
}
.w550 {
   width: 550px !important;
}
.w555 {
   width: 555px !important;
}
.w560 {
   width: 560px !important;
}
.w565 {
   width: 565px !important;
}
.w570 {
   width: 570px !important;
}
.w575 {
   width: 575px !important;
}
.w580 {
   width: 580px !important;
}
.w585 {
   width: 585px !important;
}
.w590 {
   width: 590px !important;
}
.w595 {
   width: 595px !important;
}
.w600 {
   width: 600px !important;
}
.w605 {
   width: 605px !important;
}
.w610 {
   width: 610px !important;
}
.w615 {
   width: 615px !important;
}
.w620 {
   width: 620px !important;
}
.w625 {
   width: 625px !important;
}
.w630 {
   width: 630px !important;
}
.w635 {
   width: 635px !important;
}
.w640 {
   width: 640px !important;
}
.w645 {
   width: 645px !important;
}
.w650 {
   width: 650px !important;
}
.w655 {
   width: 655px !important;
}
.w660 {
   width: 660px !important;
}
.w665 {
   width: 665px !important;
}
.w670 {
   width: 670px !important;
}
.w675 {
   width: 675px !important;
}
.w680 {
   width: 680px !important;
}
.w685 {
   width: 685px !important;
}
.w690 {
   width: 690px !important;
}
.w695 {
   width: 695px !important;
}
.w700 {
   width: 700px !important;
}

/*	余白
------------------------*/
.mAuto {
   margin: auto !important;
}
.m00 {
   margin: 0 !important;
}
.m05 {
   margin: 5px !important;
}
.m10 {
   margin: 10px !important;
}
.m15 {
   margin: 15px !important;
}
.m20 {
   margin: 20px !important;
}
.m25 {
   margin: 25px !important;
}
.m30 {
   margin: 30px !important;
}
.m35 {
   margin: 35px !important;
}
.m40 {
   margin: 40px !important;
}
.m45 {
   margin: 45px !important;
}
.m50 {
   margin: 50px !important;
}
.m55 {
   margin: 55px !important;
}
.m60 {
   margin: 60px !important;
}
.m65 {
   margin: 65px !important;
}
.m70 {
   margin: 70px !important;
}
.m75 {
   margin: 75px !important;
}
.m80 {
   margin: 80px !important;
}
.m85 {
   margin: 85px !important;
}
.m90 {
   margin: 90px !important;
}
.m95 {
   margin: 95px !important;
}
.m100 {
   margin: 100px !important;
}

.mbAuto {
   margin-bottom: auto !important;
}
.mb00 {
   margin-bottom: 0 !important;
}
.mb05 {
   margin-bottom: 5px !important;
}
.mb10 {
   margin-bottom: 10px !important;
}
.mb15 {
   margin-bottom: 15px !important;
}
.mb20 {
   margin-bottom: 20px !important;
}
.mb25 {
   margin-bottom: 25px !important;
}
.mb30 {
   margin-bottom: 30px !important;
}
.mb35 {
   margin-bottom: 35px !important;
}
.mb40 {
   margin-bottom: 40px !important;
}
.mb45 {
   margin-bottom: 45px !important;
}
.mb50 {
   margin-bottom: 50px !important;
}
.mb55 {
   margin-bottom: 55px !important;
}
.mb60 {
   margin-bottom: 60px !important;
}
.mb65 {
   margin-bottom: 65px !important;
}
.mb70 {
   margin-bottom: 70px !important;
}
.mb75 {
   margin-bottom: 75px !important;
}
.mb80 {
   margin-bottom: 80px !important;
}
.mb85 {
   margin-bottom: 85px !important;
}
.mb90 {
   margin-bottom: 90px !important;
}
.mb95 {
   margin-bottom: 95px !important;
}
.mb100 {
   margin-bottom: 100px !important;
}

.mtAuto {
   margin-top: auto !important;
}
.mt00 {
   margin-top: 0 !important;
}
.mt05 {
   margin-top: 5px !important;
}
.mt10 {
   margin-top: 10px !important;
}
.mt15 {
   margin-top: 15px !important;
}
.mt20 {
   margin-top: 20px !important;
}
.mt25 {
   margin-top: 25px !important;
}
.mt30 {
   margin-top: 30px !important;
}
.mt35 {
   margin-top: 35px !important;
}
.mt40 {
   margin-top: 40px !important;
}
.mt45 {
   margin-top: 45px !important;
}
.mt50 {
   margin-top: 50px !important;
}
.mt55 {
   margin-top: 55px !important;
}
.mt60 {
   margin-top: 60px !important;
}
.mt65 {
   margin-top: 65px !important;
}
.mt70 {
   margin-top: 70px !important;
}
.mt75 {
   margin-top: 75px !important;
}
.mt80 {
   margin-top: 80px !important;
}
.mt85 {
   margin-top: 85px !important;
}
.mt90 {
   margin-top: 90px !important;
}
.mt95 {
   margin-top: 95px !important;
}
.mt100 {
   margin-top: 100px !important;
}

.mrAuto {
   margin-right: auto !important;
}
.mr00 {
   margin-right: 0 !important;
}
.mr05 {
   margin-right: 5px !important;
}
.mr10 {
   margin-right: 10px !important;
}
.mr15 {
   margin-right: 15px !important;
}
.mr20 {
   margin-right: 20px !important;
}
.mr25 {
   margin-right: 25px !important;
}
.mr30 {
   margin-right: 30px !important;
}
.mr35 {
   margin-right: 35px !important;
}
.mr40 {
   margin-right: 40px !important;
}
.mr45 {
   margin-right: 45px !important;
}
.mr50 {
   margin-right: 50px !important;
}
.mr55 {
   margin-right: 55px !important;
}
.mr60 {
   margin-right: 60px !important;
}
.mr65 {
   margin-right: 65px !important;
}
.mr70 {
   margin-right: 70px !important;
}
.mr75 {
   margin-right: 75px !important;
}
.mr80 {
   margin-right: 80px !important;
}
.mr85 {
   margin-right: 85px !important;
}
.mr90 {
   margin-right: 90px !important;
}
.mr95 {
   margin-right: 95px !important;
}
.mr100 {
   margin-right: 100px !important;
}

.mlAuto {
   margin-left: auto !important;
}
.ml00 {
   margin-left: 0 !important;
}
.ml05 {
   margin-left: 5px !important;
}
.ml10 {
   margin-left: 10px !important;
}
.ml15 {
   margin-left: 15px !important;
}
.ml20 {
   margin-left: 20px !important;
}
.ml25 {
   margin-left: 25px !important;
}
.ml30 {
   margin-left: 30px !important;
}
.ml35 {
   margin-left: 35px !important;
}
.ml40 {
   margin-left: 40px !important;
}
.ml45 {
   margin-left: 45px !important;
}
.ml50 {
   margin-left: 50px !important;
}
.ml55 {
   margin-left: 55px !important;
}
.ml60 {
   margin-left: 60px !important;
}
.ml65 {
   margin-left: 65px !important;
}
.ml70 {
   margin-left: 70px !important;
}
.ml75 {
   margin-left: 75px !important;
}
.ml80 {
   margin-left: 80px !important;
}
.ml85 {
   margin-left: 85px !important;
}
.ml90 {
   margin-left: 90px !important;
}
.ml95 {
   margin-left: 95px !important;
}
.ml100 {
   margin-left: 100px !important;
}

.p00 {
   padding: 0 !important;
}
.p05 {
   padding: 5px !important;
}
.p10 {
   padding: 10px !important;
}
.p15 {
   padding: 15px !important;
}
.p20 {
   padding: 20px !important;
}
.p25 {
   padding: 25px !important;
}
.p30 {
   padding: 30px !important;
}
.p35 {
   padding: 35px !important;
}
.p40 {
   padding: 40px !important;
}
.p45 {
   padding: 45px !important;
}
.p50 {
   padding: 50px !important;
}
.p55 {
   padding: 55px !important;
}
.p60 {
   padding: 60px !important;
}
.p65 {
   padding: 65px !important;
}
.p70 {
   padding: 70px !important;
}
.p75 {
   padding: 75px !important;
}
.p80 {
   padding: 80px !important;
}
.p85 {
   padding: 85px !important;
}
.p90 {
   padding: 90px !important;
}
.p95 {
   padding: 95px !important;
}
.p100 {
   padding: 100px !important;
}

.pt00 {
   padding-top: 0 !important;
}
.pt05 {
   padding-top: 5px !important;
}
.pt10 {
   padding-top: 10px !important;
}
.pt15 {
   padding-top: 15px !important;
}
.pt20 {
   padding-top: 20px !important;
}
.pt25 {
   padding-top: 25px !important;
}
.pt30 {
   padding-top: 30px !important;
}
.pt35 {
   padding-top: 35px !important;
}
.pt40 {
   padding-top: 40px !important;
}
.pt45 {
   padding-top: 45px !important;
}
.pt50 {
   padding-top: 50px !important;
}
.pt55 {
   padding-top: 55px !important;
}
.pt60 {
   padding-top: 60px !important;
}
.pt65 {
   padding-top: 65px !important;
}
.pt70 {
   padding-top: 70px !important;
}
.pt75 {
   padding-top: 75px !important;
}
.pt80 {
   padding-top: 80px !important;
}
.pt85 {
   padding-top: 85px !important;
}
.pt90 {
   padding-top: 90px !important;
}
.pt95 {
   padding-top: 95px !important;
}
.pt100 {
   padding-top: 100px !important;
}

.pb00 {
   padding-bottom: 0 !important;
}
.pb05 {
   padding-bottom: 5px !important;
}
.pb10 {
   padding-bottom: 10px !important;
}
.pb15 {
   padding-bottom: 15px !important;
}
.pb20 {
   padding-bottom: 20px !important;
}
.pb25 {
   padding-bottom: 25px !important;
}
.pb30 {
   padding-bottom: 30px !important;
}
.pb35 {
   padding-bottom: 35px !important;
}
.pb40 {
   padding-bottom: 40px !important;
}
.pb45 {
   padding-bottom: 45px !important;
}
.pb50 {
   padding-bottom: 50px !important;
}
.pb55 {
   padding-bottom: 55px !important;
}
.pb60 {
   padding-bottom: 60px !important;
}
.pb65 {
   padding-bottom: 65px !important;
}
.pb70 {
   padding-bottom: 70px !important;
}
.pb75 {
   padding-bottom: 75px !important;
}
.pb80 {
   padding-bottom: 80px !important;
}
.pb85 {
   padding-bottom: 85px !important;
}
.pb90 {
   padding-bottom: 90px !important;
}
.pb95 {
   padding-bottom: 95px !important;
}
.pb100 {
   padding-bottom: 100px !important;
}

.pl00 {
   padding-left: 0 !important;
}
.pl05 {
   padding-left: 5px !important;
}
.pl10 {
   padding-left: 10px !important;
}
.pl15 {
   padding-left: 15px !important;
}
.pl20 {
   padding-left: 20px !important;
}
.pl25 {
   padding-left: 25px !important;
}
.pl30 {
   padding-left: 30px !important;
}
.pl35 {
   padding-left: 35px !important;
}
.pl40 {
   padding-left: 40px !important;
}
.pl45 {
   padding-left: 45px !important;
}
.pl50 {
   padding-left: 50px !important;
}
.pl55 {
   padding-left: 55px !important;
}
.pl60 {
   padding-left: 60px !important;
}
.pl65 {
   padding-left: 65px !important;
}
.pl70 {
   padding-left: 70px !important;
}
.pl75 {
   padding-left: 75px !important;
}
.pl80 {
   padding-left: 80px !important;
}
.pl85 {
   padding-left: 85px !important;
}
.pl90 {
   padding-left: 90px !important;
}
.pl95 {
   padding-left: 95px !important;
}
.pl100 {
   padding-left: 100px !important;
}

.pr00 {
   padding-right: 0 !important;
}
.pr05 {
   padding-right: 5px !important;
}
.pr10 {
   padding-right: 10px !important;
}
.pr15 {
   padding-right: 15px !important;
}
.pr20 {
   padding-right: 20px !important;
}
.pr25 {
   padding-right: 25px !important;
}
.pr30 {
   padding-right: 30px !important;
}
.pr35 {
   padding-right: 35px !important;
}
.pr40 {
   padding-right: 40px !important;
}
.pr45 {
   padding-right: 45px !important;
}
.pr50 {
   padding-right: 50px !important;
}
.pr55 {
   padding-right: 55px !important;
}
.pr60 {
   padding-right: 60px !important;
}
.pr65 {
   padding-right: 65px !important;
}
.pr70 {
   padding-right: 70px !important;
}
.pr75 {
   padding-right: 75px !important;
}
.pr80 {
   padding-right: 80px !important;
}
.pr85 {
   padding-right: 85px !important;
}
.pr90 {
   padding-right: 90px !important;
}
.pr95 {
   padding-right: 95px !important;
}
.pr100 {
   padding-right: 100px !important;
}

@media screen and (max-width: 736px) {
   .m05 {
      margin: 0.78125% !important;
   }
   .m10 {
      margin: 1.5625% !important;
   }
   .m15 {
      margin: 2.34375% !important;
   }
   .m20 {
      margin: 3.125% !important;
   }
   .m25 {
      margin: 3.90625% !important;
   }
   .m30 {
      margin: 4.6875% !important;
   }
   .m35 {
      margin: 5.46875% !important;
   }
   .m40 {
      margin: 6.25% !important;
   }
   .m45 {
      margin: 7.03125% !important;
   }
   .m50 {
      margin: 7.8125% !important;
   }
   .m55 {
      margin: 8.59375% !important;
   }
   .m60 {
      margin: 9.375% !important;
   }
   .m65 {
      margin: 10.15625% !important;
   }
   .m70 {
      margin: 10.9375% !important;
   }
   .m75 {
      margin: 11.71875% !important;
   }
   .m80 {
      margin: 12.5% !important;
   }
   .m85 {
      margin: 13.28125% !important;
   }
   .m90 {
      margin: 14.0625% !important;
   }
   .m95 {
      margin: 14.84375% !important;
   }
   .m100 {
      margin: 15.625% !important;
   }

   .mt05 {
      margin-top: 0.78125% !important;
   }
   .mt10 {
      margin-top: 1.5625% !important;
   }
   .mt15 {
      margin-top: 2.34375% !important;
   }
   .mt20 {
      margin-top: 3.125% !important;
   }
   .mt25 {
      margin-top: 3.90625% !important;
   }
   .mt30 {
      margin-top: 4.6875% !important;
   }
   .mt35 {
      margin-top: 5.46875% !important;
   }
   .mt40 {
      margin-top: 6.25% !important;
   }
   .mt45 {
      margin-top: 7.03125% !important;
   }
   .mt50 {
      margin-top: 7.8125% !important;
   }
   .mt55 {
      margin-top: 8.59375% !important;
   }
   .mt60 {
      margin-top: 9.375% !important;
   }
   .mt65 {
      margin-top: 10.15625% !important;
   }
   .mt70 {
      margin-top: 10.9375% !important;
   }
   .mt75 {
      margin-top: 11.71875% !important;
   }
   .mt80 {
      margin-top: 12.5% !important;
   }
   .mt85 {
      margin-top: 13.28125% !important;
   }
   .mt90 {
      margin-top: 14.0625% !important;
   }
   .mt95 {
      margin-top: 14.84375% !important;
   }
   .mt100 {
      margin-top: 15.625% !important;
   }

   .mb05 {
      margin-bottom: 0.78125% !important;
   }
   .mb10 {
      margin-bottom: 1.5625% !important;
   }
   .mb15 {
      margin-bottom: 2.34375% !important;
   }
   .mb20 {
      margin-bottom: 3.125% !important;
   }
   .mb25 {
      margin-bottom: 3.90625% !important;
   }
   .mb30 {
      margin-bottom: 4.6875% !important;
   }
   .mb35 {
      margin-bottom: 5.46875% !important;
   }
   .mb40 {
      margin-bottom: 6.25% !important;
   }
   .mb45 {
      margin-bottom: 7.03125% !important;
   }
   .mb50 {
      margin-bottom: 7.8125% !important;
   }
   .mb55 {
      margin-bottom: 8.59375% !important;
   }
   .mb60 {
      margin-bottom: 9.375% !important;
   }
   .mb65 {
      margin-bottom: 10.15625% !important;
   }
   .mb70 {
      margin-bottom: 10.9375% !important;
   }
   .mb75 {
      margin-bottom: 11.71875% !important;
   }
   .mb80 {
      margin-bottom: 12.5% !important;
   }
   .mb85 {
      margin-bottom: 13.28125% !important;
   }
   .mb90 {
      margin-bottom: 14.0625% !important;
   }
   .mb95 {
      margin-bottom: 14.84375% !important;
   }
   .mb100 {
      margin-bottom: 15.625% !important;
   }

   .mr05 {
      margin-right: 0.78125% !important;
   }
   .mr10 {
      margin-right: 1.5625% !important;
   }
   .mr15 {
      margin-right: 2.34375% !important;
   }
   .mr20 {
      margin-right: 3.125% !important;
   }
   .mr25 {
      margin-right: 3.90625% !important;
   }
   .mr30 {
      margin-right: 4.6875% !important;
   }
   .mr35 {
      margin-right: 5.46875% !important;
   }
   .mr40 {
      margin-right: 6.25% !important;
   }
   .mr45 {
      margin-right: 7.03125% !important;
   }
   .mr50 {
      margin-right: 7.8125% !important;
   }
   .mr55 {
      margin-right: 8.59375% !important;
   }
   .mr60 {
      margin-right: 9.375% !important;
   }
   .mr65 {
      margin-right: 10.15625% !important;
   }
   .mr70 {
      margin-right: 10.9375% !important;
   }
   .mr75 {
      margin-right: 11.71875% !important;
   }
   .mr80 {
      margin-right: 12.5% !important;
   }
   .mr85 {
      margin-right: 13.28125% !important;
   }
   .mr90 {
      margin-right: 14.0625% !important;
   }
   .mr95 {
      margin-right: 14.84375% !important;
   }
   .mr100 {
      margin-right: 15.625% !important;
   }

   .ml05 {
      margin-left: 0.78125% !important;
   }
   .ml10 {
      margin-left: 1.5625% !important;
   }
   .ml15 {
      margin-left: 2.34375% !important;
   }
   .ml20 {
      margin-left: 3.125% !important;
   }
   .ml25 {
      margin-left: 3.90625% !important;
   }
   .ml30 {
      margin-left: 4.6875% !important;
   }
   .ml35 {
      margin-left: 5.46875% !important;
   }
   .ml40 {
      margin-left: 6.25% !important;
   }
   .ml45 {
      margin-left: 7.03125% !important;
   }
   .ml50 {
      margin-left: 7.8125% !important;
   }
   .ml55 {
      margin-left: 8.59375% !important;
   }
   .ml60 {
      margin-left: 9.375% !important;
   }
   .ml65 {
      margin-left: 10.15625% !important;
   }
   .ml70 {
      margin-left: 10.9375% !important;
   }
   .ml75 {
      margin-left: 11.71875% !important;
   }
   .ml80 {
      margin-left: 12.5% !important;
   }
   .ml85 {
      margin-left: 13.28125% !important;
   }
   .ml90 {
      margin-left: 14.0625% !important;
   }
   .ml95 {
      margin-left: 14.84375% !important;
   }
   .ml100 {
      margin-left: 15.625% !important;
   }

   .p05 {
      padding: 0.78125% !important;
   }
   .p10 {
      padding: 1.5625% !important;
   }
   .p15 {
      padding: 2.34375% !important;
   }
   .p20 {
      padding: 3.125% !important;
   }
   .p25 {
      padding: 3.90625% !important;
   }
   .p30 {
      padding: 4.6875% !important;
   }
   .p35 {
      padding: 5.46875% !important;
   }
   .p40 {
      padding: 6.25% !important;
   }
   .p45 {
      padding: 7.03125% !important;
   }
   .p50 {
      padding: 7.8125% !important;
   }
   .p55 {
      padding: 8.59375% !important;
   }
   .p60 {
      padding: 9.375% !important;
   }
   .p65 {
      padding: 10.15625% !important;
   }
   .p70 {
      padding: 10.9375% !important;
   }
   .p75 {
      padding: 11.71875% !important;
   }
   .p80 {
      padding: 12.5% !important;
   }
   .p85 {
      padding: 13.28125% !important;
   }
   .p90 {
      padding: 14.0625% !important;
   }
   .p95 {
      padding: 14.84375% !important;
   }
   .p100 {
      padding: 15.625% !important;
   }

   .pt05 {
      padding-top: 0.78125% !important;
   }
   .pt10 {
      padding-top: 1.5625% !important;
   }
   .pt15 {
      padding-top: 2.34375% !important;
   }
   .pt20 {
      padding-top: 3.125% !important;
   }
   .pt25 {
      padding-top: 3.90625% !important;
   }
   .pt30 {
      padding-top: 4.6875% !important;
   }
   .pt35 {
      padding-top: 5.46875% !important;
   }
   .pt40 {
      padding-top: 6.25% !important;
   }
   .pt45 {
      padding-top: 7.03125% !important;
   }
   .pt50 {
      padding-top: 7.8125% !important;
   }
   .pt55 {
      padding-top: 8.59375% !important;
   }
   .pt60 {
      padding-top: 9.375% !important;
   }
   .pt65 {
      padding-top: 10.15625% !important;
   }
   .pt70 {
      padding-top: 10.9375% !important;
   }
   .pt75 {
      padding-top: 11.71875% !important;
   }
   .pt80 {
      padding-top: 12.5% !important;
   }
   .pt85 {
      padding-top: 13.28125% !important;
   }
   .pt90 {
      padding-top: 14.0625% !important;
   }
   .pt95 {
      padding-top: 14.84375% !important;
   }
   .pt100 {
      padding-top: 15.625% !important;
   }

   .pb05 {
      padding-bottom: 0.78125% !important;
   }
   .pb10 {
      padding-bottom: 1.5625% !important;
   }
   .pb15 {
      padding-bottom: 2.34375% !important;
   }
   .pb20 {
      padding-bottom: 3.125% !important;
   }
   .pb25 {
      padding-bottom: 3.90625% !important;
   }
   .pb30 {
      padding-bottom: 4.6875% !important;
   }
   .pb35 {
      padding-bottom: 5.46875% !important;
   }
   .pb40 {
      padding-bottom: 6.25% !important;
   }
   .pb45 {
      padding-bottom: 7.03125% !important;
   }
   .pb50 {
      padding-bottom: 7.8125% !important;
   }
   .pb55 {
      padding-bottom: 8.59375% !important;
   }
   .pb60 {
      padding-bottom: 9.375% !important;
   }
   .pb65 {
      padding-bottom: 10.15625% !important;
   }
   .pb70 {
      padding-bottom: 10.9375% !important;
   }
   .pb75 {
      padding-bottom: 11.71875% !important;
   }
   .pb80 {
      padding-bottom: 12.5% !important;
   }
   .pb85 {
      padding-bottom: 13.28125% !important;
   }
   .pb90 {
      padding-bottom: 14.0625% !important;
   }
   .pb95 {
      padding-bottom: 14.84375% !important;
   }
   .pb100 {
      padding-bottom: 15.625% !important;
   }

   .pl05 {
      padding-left: 0.78125% !important;
   }
   .pl10 {
      padding-left: 1.5625% !important;
   }
   .pl15 {
      padding-left: 2.34375% !important;
   }
   .pl20 {
      padding-left: 3.125% !important;
   }
   .pl25 {
      padding-left: 3.90625% !important;
   }
   .pl30 {
      padding-left: 4.6875% !important;
   }
   .pl35 {
      padding-left: 5.46875% !important;
   }
   .pl40 {
      padding-left: 6.25% !important;
   }
   .pl45 {
      padding-left: 7.03125% !important;
   }
   .pl50 {
      padding-left: 7.8125% !important;
   }
   .pl55 {
      padding-left: 8.59375% !important;
   }
   .pl60 {
      padding-left: 9.375% !important;
   }
   .pl65 {
      padding-left: 10.15625% !important;
   }
   .pl70 {
      padding-left: 10.9375% !important;
   }
   .pl75 {
      padding-left: 11.71875% !important;
   }
   .pl80 {
      padding-left: 12.5% !important;
   }
   .pl85 {
      padding-left: 13.28125% !important;
   }
   .pl90 {
      padding-left: 14.0625% !important;
   }
   .pl95 {
      padding-left: 14.84375% !important;
   }
   .pl100 {
      padding-left: 15.625% !important;
   }

   .pr05 {
      padding-right: 0.78125% !important;
   }
   .pr10 {
      padding-right: 1.5625% !important;
   }
   .pr15 {
      padding-right: 2.34375% !important;
   }
   .pr20 {
      padding-right: 3.125% !important;
   }
   .pr25 {
      padding-right: 3.90625% !important;
   }
   .pr30 {
      padding-right: 4.6875% !important;
   }
   .pr35 {
      padding-right: 5.46875% !important;
   }
   .pr40 {
      padding-right: 6.25% !important;
   }
   .pr45 {
      padding-right: 7.03125% !important;
   }
   .pr50 {
      padding-right: 7.8125% !important;
   }
   .pr55 {
      padding-right: 8.59375% !important;
   }
   .pr60 {
      padding-right: 9.375% !important;
   }
   .pr65 {
      padding-right: 10.15625% !important;
   }
   .pr70 {
      padding-right: 10.9375% !important;
   }
   .pr75 {
      padding-right: 11.71875% !important;
   }
   .pr80 {
      padding-right: 12.5% !important;
   }
   .pr85 {
      padding-right: 13.28125% !important;
   }
   .pr90 {
      padding-right: 14.0625% !important;
   }
   .pr95 {
      padding-right: 14.84375% !important;
   }
   .pr100 {
      padding-right: 15.625% !important;
   }
}

/*	フォント
------------------------*/
.fcBlack {
   color: #000;
}
.fcWhite {
   color: #fff;
}
.fcGray {
   color: #999;
}
.fcRed {
   color: #e00;
}
.fcDarkred {
   color: #cc0000;
}
.fcBlue {
   color: #00e;
}
.fcGreen {
   color: #0c894f;
}
.fcBluegreen {
   color: #01a279;
}
.fcNavy {
   color: #2d3f87;
}

.font_ll {
   font-size: 2.8rem !important;
}
.font_l {
   font-size: 2.4rem !important;
}
.font_ml {
   font-size: 1.8rem !important;
}
.font_mm {
   font-size: 1.6rem !important;
}
.font_m {
   font-size: 1.4rem !important;
}
.font_s {
   font-size: 1.2rem !important;
}
.font_ss {
   font-size: 1.1rem !important;
}

.fs00 {
   font-size: 0 !important;
}
.fs01 {
   font-size: 0.1rem !important;
}
.fs02 {
   font-size: 0.2rem !important;
}
.fs03 {
   font-size: 0.3rem !important;
}
.fs04 {
   font-size: 0.4rem !important;
}
.fs05 {
   font-size: 0.5rem !important;
}
.fs06 {
   font-size: 0.6rem !important;
}
.fs07 {
   font-size: 0.7rem !important;
}
.fs08 {
   font-size: 0.8rem !important;
}
.fs09 {
   font-size: 0.9rem !important;
}
.fs10 {
   font-size: 1rem !important;
}
.fs11 {
   font-size: 1.1rem !important;
}
.fs12 {
   font-size: 1.2rem !important;
}
.fs13 {
   font-size: 1.3rem !important;
}
.fs14 {
   font-size: 1.4rem !important;
}
.fs15 {
   font-size: 1.5rem !important;
}
.fs16 {
   font-size: 1.6rem !important;
}
.fs17 {
   font-size: 1.7rem !important;
}
.fs18 {
   font-size: 1.8rem !important;
}
.fs19 {
   font-size: 1.9rem !important;
}
.fs20 {
   font-size: 2rem !important;
}
.fs21 {
   font-size: 2.1rem !important;
}
.fs22 {
   font-size: 2.2rem !important;
}
.fs23 {
   font-size: 2.3rem !important;
}
.fs24 {
   font-size: 2.4rem !important;
}
.fs25 {
   font-size: 2.5rem !important;
}
.fs26 {
   font-size: 2.6rem !important;
}
.fs27 {
   font-size: 2.7rem !important;
}
.fs28 {
   font-size: 2.8rem !important;
}
.fs29 {
   font-size: 2.9rem !important;
}
.fs30 {
   font-size: 3rem !important;
}
.fs31 {
   font-size: 3.1rem !important;
}
.fs32 {
   font-size: 3.2rem !important;
}
.fs33 {
   font-size: 3.3rem !important;
}
.fs34 {
   font-size: 3.4rem !important;
}
.fs35 {
   font-size: 3.5rem !important;
}
.fs36 {
   font-size: 3.6rem !important;
}
.fs37 {
   font-size: 3.7rem !important;
}
.fs38 {
   font-size: 3.8rem !important;
}
.fs39 {
   font-size: 3.9rem !important;
}
.fs40 {
   font-size: 4rem !important;
}
.fs41 {
   font-size: 4.1rem !important;
}
.fs42 {
   font-size: 4.2rem !important;
}
.fs43 {
   font-size: 4.3rem !important;
}
.fs44 {
   font-size: 4.4rem !important;
}
.fs45 {
   font-size: 4.5rem !important;
}
.fs46 {
   font-size: 4.6rem !important;
}
.fs47 {
   font-size: 4.7rem !important;
}
.fs48 {
   font-size: 4.8rem !important;
}
.fs49 {
   font-size: 4.9rem !important;
}
.fs50 {
   font-size: 5rem !important;
}
.fs51 {
   font-size: 5.1rem !important;
}
.fs52 {
   font-size: 5.2rem !important;
}
.fs53 {
   font-size: 5.3rem !important;
}
.fs54 {
   font-size: 5.4rem !important;
}
.fs55 {
   font-size: 5.5rem !important;
}
.fs56 {
   font-size: 5.6rem !important;
}
.fs57 {
   font-size: 5.7rem !important;
}
.fs58 {
   font-size: 5.8rem !important;
}
.fs59 {
   font-size: 5.9rem !important;
}
.fs60 {
   font-size: 6rem !important;
}

.fsS {
   font-size: 91%;
}
.fsSB {
   font-size: 91%;
   font-weight: bold;
}
.fs2S {
   font-size: 82%;
}
.fs2SB {
   font-size: 82%;
   font-weight: bold;
}
.fsM {
   font-size: 100%;
}
.fsMB {
   font-size: 100%;
   font-weight: bold;
}
.fsM {
   font-size: 100%;
}
.fsMB {
   font-size: 100%;
   font-weight: bold;
}
.fsL {
   font-size: 109%;
}
.fsLB {
   font-size: 109%;
   font-weight: bold;
}
.fs2L {
   font-size: 118%;
}
.fs2LB {
   font-size: 118%;
   font-weight: bold;
}
.fs3L {
   font-size: 127%;
}
.fs3LB {
   font-size: 127%;
   font-weight: bold;
}
.fs4L {
   font-size: 135%;
}
.fs4LB {
   font-size: 135%;
   font-weight: bold;
}

.fwn,
.fwNormal {
   font-weight: normal;
}
.fwb,
.fwBold {
   font-weight: bold;
}

.tac,
.al-center,
.taCenter {
   text-align: center;
}
.tar,
.taRight {
   text-align: right;
}
.tal,
.taLeft {
   text-align: left;
}

.tdn,
.tdNone {
   text-decoration: none;
}
.tdu,
.tdUnderline {
   text-decoration: underline;
}
.tdo,
.tdOverline {
   text-decoration: overline;
}
.tdl {
   text-decoration: line-through;
}

.lh10 {
   line-height: 1;
}
.lh11 {
   line-height: 1.1;
}
.lh12 {
   line-height: 1.2;
}
.lh13 {
   line-height: 1.3;
}
.lh14 {
   line-height: 1.4;
}
.lh15 {
   line-height: 1.5;
}
.lh16 {
   line-height: 1.6;
}
.lh17 {
   line-height: 1.7;
}
.lh18 {
   line-height: 1.8;
}
.lh19 {
   line-height: 1.9;
}
.lh20 {
   line-height: 2;
}

/*	ボタン
------------------------*/
.red_btn {
   background-color: #f94242;
}
.blue_btn {
   background-color: #72aee1;
}
.green_btn {
   background-color: #8cc11e;
}
.gray_btn {
   background-color: #a8a8a8;
}
.yellow_btn {
   background-color: #e9c030;
}
.pink_btn {
   background-color: #f4679c;
}

/*	配置
------------------------*/
.f-left,
.flLeft {
   float: left;
}
.f-right,
.flRight {
   float: right;
}
.cfix {
   display: block;
}
.cfix:after {
   content: '.';
   display: block;
   height: 0;
   font-size: 0;
   clear: both;
   visibility: hidden;
}

.poRelative {
   position: relative;
}
.poAbsolute {
   position: absolute;
}

.fsS {
   font-size: 91%;
}
.fsSB {
   font-size: 91%;
   font-weight: bold;
}
.fs2S {
   font-size: 82%;
}
.fs2SB {
   font-size: 82%;
   font-weight: bold;
}
.fsM {
   font-size: 100%;
}
.fsMB {
   font-size: 100%;
   font-weight: bold;
}
.fsM {
   font-size: 100%;
}
.fsMB {
   font-size: 100%;
   font-weight: bold;
}
.fsL {
   font-size: 109%;
}
.fsLB {
   font-size: 109%;
   font-weight: bold;
}
.fs2L {
   font-size: 118%;
}
.fs2LB {
   font-size: 118%;
   font-weight: bold;
}
.fs3L {
   font-size: 127%;
}
.fs3LB {
   font-size: 127%;
   font-weight: bold;
}
.fs4L {
   font-size: 135%;
}
.fs4LB {
   font-size: 135%;
   font-weight: bold;
}

.fwn,
.fwNormal {
   font-weight: normal;
}
.fwb,
.fwBold {
   font-weight: bold;
}

.tac,
.al-center,
.taCenter {
   text-align: center;
}
.tar,
.taRight {
   text-align: right;
}
.tal,
.taLeft {
   text-align: left;
}

.tdn,
.tdNone {
   text-decoration: none;
}
.tdu,
.tdUnderline {
   text-decoration: underline;
}
.tdo,
.tdOverline {
   text-decoration: overline;
}
.tdl {
   text-decoration: line-through;
}

.lh10 {
   line-height: 1;
}
.lh11 {
   line-height: 1.1;
}
.lh12 {
   line-height: 1.2;
}
.lh13 {
   line-height: 1.3;
}
.lh14 {
   line-height: 1.4;
}
.lh15 {
   line-height: 1.5;
}
.lh16 {
   line-height: 1.6;
}
.lh17 {
   line-height: 1.7;
}
.lh18 {
   line-height: 1.8;
}
.lh19 {
   line-height: 1.9;
}
.lh20 {
   line-height: 2;
}

/*	ボタン
------------------------*/
.red_btn {
   background-color: #f94242;
}
.blue_btn {
   background-color: #72aee1;
}
.green_btn {
   background-color: #8cc11e;
}
.gray_btn {
   background-color: #a8a8a8;
}
.yellow_btn {
   background-color: #e9c030;
}
.pink_btn {
   background-color: #f4679c;
}

/*	配置
------------------------*/
.f-left,
.flLeft {
   float: left;
}
.f-right,
.flRight {
   float: right;
}
.cfix {
   display: block;
}
.cfix:after {
   content: '.';
   display: block;
   height: 0;
   font-size: 0;
   clear: both;
   visibility: hidden;
}

.poRelative {
   position: relative;
}
.poAbsolute {
   position: absolute;
}

/*	表示
------------------------*/
.dispNone {
   display: none;
}
.dispBlock {
   display: block;
}
.dispInlineBlock {
   display: inline-block;
}

/*	リスト
------------------------*/
.indent_list {
   padding-left: 1em;
}
.indent_list > li {
   text-indent: -1em;
}
